---
import { getEntry, render } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import Main from "@/components/Main.astro";
import Footer from "@/components/Footer.astro";
import config from "@/config";

const backtest = await getEntry("pages", "backtest");

if (!backtest) {
  throw new Error(
    "Missing content entry: `backtest.md` or `backtest.mdx` in `src/content/pages/`"
  );
}

const { Content } = await render(backtest);
---

<Layout
  title={`${backtest.data.title} | ${config.site.title}`}
  description={backtest.data.description}
  ogImage={backtest.data.ogImage}
  canonicalURL={backtest.data.canonicalURL}
>
  <Header />

  <Breadcrumb />

  <Main pageTitle={backtest.data.title} class="app-prose">
    <Content />
  </Main>

  <Footer />
</Layout>
